[Unit]
Description=Aria2 Service
After=network.target

[Service]
StateDirectory=aria2
ExecStartPre=/usr/bin/cp -n /dev/null %S/aria2/aria2.session
ExecStart=/usr/bin/aria2c \
    --enable-rpc \
    --input-file=%S/aria2/aria2.session \
    --save-session=%S/aria2/aria2.session \
    --conf-path=%E/aria2/aria2.conf \
    --daemon=false
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target